# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Latex
*.log
*.aux
*.bbl
*.blg
*.dvi
paper/vldb_paper.pdf


# Debug files
*.dSYM/
*.tmp
*.swp
src/tags
stat_dist
result.*
*.png
*.res
